* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.welcome {
  color: white;
  background-image: url(./img/home_slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;
  position: relative;
}

.welcome-script {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 90%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.welcome .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
}

.welcome-script p {
  font-size: 25px;
  font-weight: 600px;
}

.welcome-script h1 {
  font-size: 4.5rem;
  line-height: 90px;
  font-weight: 700;
  word-spacing: 0.1px;
}

.welcome .navbar-collapse {
  flex-grow: 0;
}

.welcome .navbar.welcome__content{
  padding-bottom: 15px; 
  border-bottom: 1px solid #bab6b65e;
}
.navbar-nav li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 17px;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: all 0.5s; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #e62b4a;
}

.welcome-script button {
  background-color: #e62b4a;
  border: 1px solid #e62b4a;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 0px;
}

.welcome .animated-arrow {
  animation: arrowDown 1s linear 0s infinite;
}

.product,
.service {
  padding: 90px 0;
  text-align: center;
  background-color: black;
  color: white;
  letter-spacing: 1;
}

.product h2,
.service h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.product p:first-child,
.service p:first-child {
  font-size: 0.83em;
  font-weight: 300;
  color: #e62b4a;
}
.product p:nth-child(3),
.service p:nth-child(3) {
  color: #888888;
  font-weight: 700;
  font-size: 16px;
}

.slick-dots li button{
 
  color: white; 
  font-size: 14px; 
  /* opacity: 0.25;  */
}

.portfolio,
.blog {
  padding: 100px 0;
  background-color: white;
  text-align: center;
}

.portfolio p:first-child,
.blog p:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.portfolio h2,
.blog h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio p:last-child,
.blog p:last-child {
  font-size: 16px;
  font-weight: 700;
  color: #888888;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  grid-gap: 30px;
  justify-content: center;
  text-align: center;
  margin: 3% 15%;
}

.blog {
  padding: 100px 0;
  background-color: #f3f3f3;
}

/* .blog .blog-container{
     display: grid; 
    grid-template-columns: 2fr 1fr 1fr; 
} */

.blog .blog-container img {
  filter: grayscale(30%) contrast(50%);
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}

.blog .blog-container img:hover {
  filter: none;
}

.portfolio .portfolio-container .portfolio-item img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(50%);
}
.blog-container .row {
  margin: 0;
}

/* .product .product__carousel{} */

.product .product__carousel .product__carousel__item {
  position: relative;
  height: 230px;
  width: 214px;
  background-color: #f3f3f3;
  color: #848482;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product .product__carousel .product__carousel__item h4 {
  font-size: 14px;
  font-weight: 400;
}

.product .product__carousel .product__carousel__item i {
  font-size: 50px;
}

.product .product__carousel .slick-dots li {
  color: white;
}

.product .product__carousel .product__carousel__item::before {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}
.product .product__carousel .product__carousel__item:hover::before {
  height: 100%;
}

.stat {
  padding: 100px 0;
  background-color: black;
}

.stat .stat__content {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.stat .stat__content h2 {
  font-size: 60px;
  font-weight: 300;
}

.service {
  background-image: url(./img/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.service iframe {
  width: 80%;
  height: 700px;
}
.stat .stat__content p {
  font-size: 20px;
}
.contact {
  padding: 7% 17%;
}
.contact h1,
.contact p {
  /* padding: 100px;  */
  text-align: center;
}

.contact h1 {
  font-size: 50px;
  font-weight: 400px;
  margin-bottom: 20px;
}

.contact__content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.contact .contact__content .contact__map {
  width: 50%;
  /* flex-grow:1; */
}

.contact .contact__content .contact__map iframe {
  width: 100%;
  height: 100%;
}

.contact .contact__content .contact__input {
  flex-grow: 1;
  margin-left: 50px;
  /* padding-right: 100px; */
}

.contact .contact__content .contact__input .form-group .form-control {
  margin-bottom: 40px;
}

footer {
  background-color: black;
  color: white;
  padding: 100px 0;
  position: relative;
}

.footer__content {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
}

.footer__content p {
  font-size: 14px;
}
.footer__content .footer__social-media {
  display: flex;
}
.footer__content .footer__social-media .footer__icon {
  background-color: rgb(255 255 252/20%);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  transition: all 0.5s;
}

.footer__content .footer__social-media .footer__icon:hover {
  background-color: #e62b4a;
}
/* .backToTop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(255 255 252/20%);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  visibility: hidden;
  opacity: 1;
  transition-property: all;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
} */
@media (max-width: 1100) {
  .portfolio .portfolio-container {
    margin: 3% 5%;
  }
}
@media (max-width: 800px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr 1fr;
    margin: 3% 3%;
  }

  .stat .stat__content h2 {
    font-size: 40px;
  }

  .stat .stat__content p {
    font-size: 15px;
  }
}

@media (max-width: 763px) {
  .navbar-toggler-collapse {
    background-color: black;
  }

  .welcome .navbar-collapse {
    z-index: 100;
    background-color: rgb(0, 0, 0);
  }
}
@media (max-width: 600px) {
  .welcome-script h1 {
    font-size: 50px;
  }
}

@media (max-width: 540px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .product,
  .service {
    padding: 50px 0;
  }
  .product h2,
  .service h2 {
    font-size: 30px;
    padding: 0 30px;
  }

  .product .product-content p:nth-child(3),
  .service p:nth-child(3) {
    padding: 0 30px;
    font-size: 12px;
  }

  .product .product-content.container{
    padding: 0 40px; 
  }

  .product .product__carousel .product__carousel__item{
    margin: 0 10px;
  }

  .portfolio,
  .blog {
    padding: 50px 0;
  }
  .portfolio h2,
  .blog h2 {
    font-size: 30px;
  }

  .portfolio p:nth-child(3),
  .blog p:nth-child(3) {
    padding: 0 30px;
  }

  .stat {
    padding: 50px 10px;
  }
  .stat .stat__content h2 {
    font-size: 30px;
  }

  .stat .stat__content p {
    font-size: 10px;
  }

  .service iframe {
    height: 70%;
  }

  .contact .contact__content {
    flex-direction: column;
  }

  .contact .contact__content .contact__map {
    margin-bottom: 20px;
    width: 100%;
  }

  .contact .contact__content .contact__input {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }

  .contact .contact__content .contact__input .form-group .form-control {
    margin-bottom: 10px;
  }

  footer {
    padding: 60px 0;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__content .footer__social-media div:first-child {
    margin: 0px;
  }
}

@keyframes arrowDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
